@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
:root {
  --primary-color: #212121;
  --primary-color-darker: rgb(9, 48, 56);
  --secundary-color: #deed6b; 
  --font-family: 'IBM Plex Mono';
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family:var(--font-family);
  font-size: 1.3em;
  line-height: 1.5em;
}

h1{
  margin:0 auto;
  width: 100%;
  text-align: center;
}
.container {
  max-width: 440px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: rgb(209, 209, 209);
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  text-transform: uppercase;
}

form button:hover {
  background: var(--secundary-color);
  color:var(--primary-color);
}

.paragrafo-resultado, .bad {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
}

.bad {
  background: rgb(255, 150, 150);
}
